body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: hsl(0, 0%, 98%);
    transition: 0.3s;
}
body.dark {
    background-color: hsl(207, 26%, 17%);
}

nav{
    margin-bottom: 15px;
    box-shadow: 0 0 8px 3px #DDD;
    padding: 20px 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}
nav .container{
    display: flex;
}
nav h5{
    margin: 0;
}
nav button{
    margin-left: auto;
    padding: 0 !important;
}
nav button img{
    width: 20px;
    margin-bottom: 1px;
    margin-right: 5px;
}
.countries .row {
    justify-content:center;
}

.country > div{
    background-color: white;
    box-shadow: 0 0 8px 3px #DDD;
    margin-bottom: 60px;
    transition: 0.5s;
}
.country img{
    width: 100%;
    height: 145px;
    border-bottom: 1px solid #dddddd45;
}
.country .country-info{
    padding: 25px 20px 40px;
}
.country .country-info p{
    margin: 0;
    font-size: 13px;
}
.country .country-info h5{
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 15px;
}

.country-details{
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    min-height: calc(100% - 64px);
    z-index: -1;
}

.country-details .back{
    box-shadow: 0 3px 5px 0 #0000006e;
    width: 90px;
}

.country-details img{
    box-shadow: 0 0 4px 2px #eee;
}

.country-details .details{
    padding-left: 5rem;
    padding-top: 3rem;
}

.country-details .details .heading-name{
    font-weight: 700;
    margin-bottom: 2rem;
}

/* rawan */

button{
    border: none;
    border: 0;
    background: transparent;
}

.switch{
    font-size: 18px;
    cursor: pointer;
}
.switch.dark{
    color: #fff;
}
.switch i{
    padding-right: 5px;
}

.filters .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-con{
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.search-con input{
    width: 100%;
    height: 100%;
    padding: 11px 14px;
    border: 0;
    font-size: 15px;
    letter-spacing: .5px;
    outline: 0;
}

.search-con button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.drop-down-con{
    width: 200px;
    position: relative;
}
.drop-down{
    background-color: #fff;
    width: 100%;
    padding: 17px 14px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}
.drop-down p{
    letter-spacing: 0.5px;
    font-size: 15px;
    margin: 0;
}
.drop{
    display: block;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    top: 65px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.drop p{
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
}
.drop p.active{
    background-color: #eee;
}

.drop p:hover:not(.active){
    padding-left: 20px;
    background-color: #eee;
}

/* start dark mood */
body.dark nav,
body.dark nav .dark-control,
body.dark .container .country > div,
body.dark .filters .search-con,
body.dark .filters .drop-down,
body.dark .filters .drop,
body.dark .country-details .back{
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 0 3px 7px 0 #0000002c;
}

body.dark .filters .search-con button i,
body.dark .filters .drop-down-con button i,
body.dark nav>div h3 {
    color: white;
}

body.dark .filters .search-con input,
body.dark .filters .search-con input::placeholder {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.632);
    border: 0;
}

body.dark .filters .drop p.active,
.drop p:hover:not(.active){
    background-color: #08111aad;
}

body.dark .country-details{
    background-color: hsl(209, 23%, 22%);
    color: white;
}
.country-details img{
    box-shadow: 0 3px 7px 0 #0000002c;
}


/* end dark mood */


@media (min-width:768px){
    /* .countries .row .country{
        width: 250px !important;
    } */
}

@media (min-width:320px) and (max-width:480px) {
    .country-details{
        overflow-y: scroll;
    }
}
